.dashboard-mini-card {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  text-align: center;
}

.dashboard-mini-card-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.big-num {
  font-size: 30px;
  font-weight: 400;
}

.small-num {
  font-size: 18px;
  color: #b2b2b2;
}

.mini-card-icon {
  margin-bottom: -5px !important;
}

.mat-mdc-card-title,
.mat-mdc-card-subtitle {
  padding: 1.9375rem;
  font-size: 20px;
}
